QFrame[background='transparent'], QDialog[background='transparent'] {
    background: transparent;
}

QFrame[background='ftrack'], QDialog[background='ftrack'] {
    background: $background;
}

QFrame[background='ftrack-modal'], QDialog[background='ftrack-modal'] {
    background: $background-modal;
}

QFrame[background='default'], QDialog[background='default'] {
    background: $background-docked;
}

QFrame[background='maya'], QDialog[background='maya'] {
    background: rgb(66,66,66);
}

QFrame[background='nuke'], QDialog[background='nuke'] {
    background: rgb(50,50,50);
}

QFrame[background='houdini'], QDialog[background='houdini'] {
    background: rgb(55,55,55);
}

QtAssetManagerClientWidget[assembler='true'] {
    background-color: #1A2027;
}

QFrame[indicator='on'] {
    background: #79DFB6;
}

QFrame[indicator='off'] {
    background: #404040;
}

QFrame[background='selected'] {
    background: $background-selected;
}

QFrame[background='transparent'] {
    background: transparent;
}

Line {
    border: 1px dashed $border-color;
}

Line[style='solid']  {
    border: 1px solid rgba(255, 255, 255, 0.05);
}

NewAssetInput[status='focused'] {
    background: $background-selected !important;
}

NewAssetInput[status='unfocused'] QFrame {
    /*background: transparent;*/
}

#bordered {
    border: 1px dashed $border-color;
}

AccordionBaseWidget {
    border-top: 1px dashed $border-color;
}

AccordionBaseWidget[first='true'] {
}

PublisherAccordionStepWidgetObject {
    border-left: 1px dashed $border-color;
    border-right: 1px dashed $border-color;
}

NavigationEntityButton {
    background: #1F252B;
    border-radius: 12px;
    border: none;
    color: $text-color;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

NavigationEntityButton[first='true'] {
    background: transparent;
    border-radius: 12px;
    border: 1px solid $border-color;
}

NavigationEntityButton:hover, EntityWidget:hover, AccordionBaseWidget:hover {
    background: $background-selected;
}

EntityWidget {
    color: $text-color;
    border-bottom: 1px dashed $border-color;
    border-right: 1px dashed $border-color;
}

EntityWidget[background='selected'] {
    background: $background-selected;
}

TypeWidget {
    border: 1px solid $gray-darker;
    border-radius: 12px;
}

AssemblerDependencyContextLabel {
}

Footer QLabel {
    color: $alt-background;
}

QFrame[docked='true'] Footer QLabel {
    color: $gray-dark;
}
